# Heres some super basic but quality of life improving macros for your Klipper printer from your friendly 3DPrintDemon!
# www.3dprintdemon.com

# they're ideal if you're just starting out or just hate typing console commands!
# If you have Klipperscreen some of these functions will be included there, so you can either delete or comment out the ones you dont want here.
# Or you can simply hide the macros you dont want in the Macros browser interface settings window.



# !!!!!IMPORTANT!!!!!

# To get this to work copy & paste the line directly below into your printer.cfg file & save....
# [include demon_essentials.cfg]
# NOTE: remove the "#" at the beginning to enable the line once it is pasted into your printer.cfg file



# Pressure_Advance_Test_Mode
# Automatically sets the printer up ready to calibrate your pressure advance. 
# Hit this macro then print the file linked here: https://www.klipper3d.org/prints/square_tower.stl
# further reference to work out your resut here: https://www.klipper3d.org/Pressure_Advance.html

# NOTE: Pressure Advance must be enabled in your system's Extruder section
# NOTE: This macro is by default set for DIRECT DRIVE extruders.
# For use with a bowden setup comment out the direct drive option & comment in the Bowden setup option below.



# Stepper_Buzz_Cycle
# Will give you a guided test of all your motors by buzzing them 1mm to the positive side then back again, if any go negative (to home) then reverse 
# their direction by placing a "!" in front of the "Dir" pin for that stepper.
# watch the status window for messages & countdown to which stepper is up next!

# NOTE: If you only have 4 drivers on your system you will need to comment out the line to test stepper_z1
# NOTE: It will NOT test your Extruder - you will have to do that manually
# Use "STEPPER_BUZZ STEPPER=extruder" & be sure to have the nozzle hot for this!



# Printer_PID_Tune
# This will setup & run a full PID tune on your printer with a single click of the macro button.
# It will home your printer, raise the nozzle 50mm, start the parts cooling fan to 50% & heat the printer to full printing temperature.
# Then it will run the hotend PID tune test. Once compteted it shut off the parts cooling fan & start the Bed PID tune.

# NOTE: The bed PID tune takes a long time! Please wait for it to complete, messages will keep you informed of the systems progress!
# NOTE: You MUST use the SAVE_CONFIG command manually in the Console to save the new values or they will be lost!!



#Probe_Z_Calibrate
# This will automtically set the printer up for setting your Z offest
# It will home & start heating the printer for you & then bring up the calibration dialog window

# NOTE: You MUST use the SAVE_CONFIG command manually in the Console to save the new values or they will be lost!!



# Auto_Shaper_X
# This will run the input shaping auto calibration of the X axis



# Auto_Shaper_Y
# This will run the input shaping auto calibration of the Y axis




[gcode_macro Pressure_Advance_Test_Mode]
gcode: 
    G28
    M117 PRESSURE ADVANCE TEST MODE ACTIVE!
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005 # DIRECT DRIVE
#   TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.020 # BOWDEN SETUP
    G1 X0.5 Y0.5 Z10 F5000

[gcode_macro Stepper_Buzz_Cycle]
gcode:
    M117 Stepper Buzz Cycle in 10 Seconds!
    G4 P5000
    M117 5 Seconds!
    G4 P3000
    M117 Stepper X! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_x
    M400
    M117 Stepper Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    G4 P3000
    M117 Stepper Y! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_y
    M400
    M117 Stepper Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    G4 P3000
    M117 Stepper Z! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_z
    M400
    M117 Stepper Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    G4 P3000
    M117 Stepper Z1! READY GO!
    G4 P2000

# NOTE if you only have 4 drivers comment out the line below this with a "#" at the very start
    STEPPER_BUZZ STEPPER=stepper_z1 # Comment out this line only
    M117 CYCLE COMPLETE!
    G4 P6000
    M117

[gcode_macro Printer_PID_Tune]
gcode: 
    M117 Print PID Tune Mode! Long Test!
    G28
    M400
    G90 ; Use absoulte coordinates
    G1 Z50 F150
    M106 S125
    M117 EXTRUDER PID TUNE! PLEASE WAIT!
    PID_CALIBRATE HEATER=extruder TARGET=200
    M400
    M106 S0
    M117 EXTRUDER TEST END! DONT SAVE YET!
    G4 S10
    M117 HEAT BED PID TUNE! LONG TEST PLEASE WAIT!
    PID_CALIBRATE HEATER=heater_bed TARGET=60
    M400
    M117 HEAT BED TEST END!
    G4 P1000
    M117 ALL TESTS COMPLETE! SAVE_CONFIG!!
    G4 P6000
    M117

[gcode_macro Probe_Z_Calibrate]
gcode:
    M117 PROBE Z CALIBRATE! PLEASE WAIT!
    G28
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
    M117 HEATING PRINTER! PLEASE WAIT!
    M109 S200
    M190 S60
    PROBE_CALIBRATE

[gcode_macro Auto_Shaper_X]
gcode: 
    G28
    SHAPER_CALIBRATE AXIS=X

[gcode_macro Auto_Shaper_Y]
gcode: 
    G28
    SHAPER_CALIBRATE AXIS=Y
